// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// font-family: 'DM Sans', sans-serif;
$text-font-stack: "DM Sans", sans-serif !default;

//These Default white color
$default-white: #ffffff !default;

/* These the three primary colors*/
$primary-dark: #242731 !default;
$primary-white: #e0e4e7 !default;
$primary-purple: #a162f7 !default;

/* These the six secondary colors*/
$secondary-purple: #a162f7 !default;
$secondary-blue: #2884ff !default;
$secondary-yellow: #f6cc0d !default;
$secondary-red: #ff6370 !default;
$secondary-green: #70cf97 !default;
$secondary-orange: #ff764c !default;

// These the hover color
$bg-hover: #f3f5f8;
